{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Page de test</title>
{% endblock %}


{% block main %}
<div class="pagetitle">Page de Test</div>
<section class="section dashboard">
    <div class="row">
        <div class="card">
            
        </div>
    </div>
<center>
    <br></br>
    <div class="card text-center">
        <div class="card-header">
            Carte (Card) de Bootstrap
        </div>
        <div class="card-body">
            <h5 class="card-title">Espace pour un titre</h5>
            <p class="card-text">Contenu</p>
            <a href="https://images.chickadvisor.com/store/959793/375/i/quelque-chose.jpg?ic=1" class="btn btn-primary" target="_blank">Tu veux voir quelque chose ?</a>
        </div>
        <div class="card-footer text-body-secondary">                
            <div>
                <canvas id="myChart"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            </div>
            
            <script>
                const ctx = document.getElementById('myChart');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Blue', 'Red', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                            label: 'Nombre de Votes pour Fredy',
                            data: [65, 59, 80, 81, 56, 55, 40],
                            backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(201, 203, 207, 0.2)'
                            ],
                            borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
            
        </div>
    </div>
</center>

{% endblock %}
